<% layout('boilerplate') -%> <% if(file){ %>
<div>
	<h2>Retrieve File ID:</h2>
	<p><%= file._id %></p>
	<h2>Uploaded By:</h2>
	<p><%= file.uploader %></p>
	<h2>Expires in:</h2>
	<p><%= (new Date(parseInt(file.date + file.expire*1000))).toString() %></p>
	<button onclick="download()">Download</button>
	<a href="/">Back to Home</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script>
	const url = "<%- file.file[0].url %>";
	const fileLoc = "TransFiler/";
	const filename = url.slice(url.indexOf(fileLoc) + fileLoc.length);
	function download() {
		axios({
			url: url,
			method: "GET",
			responseType: "blob",
		}).then((response) => {
			const url = window.URL.createObjectURL(new Blob([response.data]));
			const link = document.createElement("a");
			link.href = url;
			link.setAttribute("download", filename);
			document.body.appendChild(link);
			link.click();
		});
	}
</script>
<% } else { %>
<h1>File Not Found</h1>
<a href="/">Back to Home</a>
<% } %>
