<% layout('boilerplate') -%> <% if(file){ %>
<div class="container text-center">
	<h1><span class="border-bottom border-3 border-info">Details</span></h1>
	<h3>Retrieve File ID:</h3>
	<p id="file_id" style="display: inline"><%= file._id %></p>
	<button class="button button-info" onclick="copy()">Copy ID</button>
	<h3>Uploaded By:</h3>
	<p><%= file.uploader %></p>
	<h3>Expires in:</h3>
	<p>
		<%= (new Date(parseInt(file.date + file.expire*60*1000))).toString() %>
	</p>
	<button onclick="download()">Download</button>
	<div>
		<a href="/">Back to Home</a>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script>
	const url = "<%- file.file[0].url %>";
	const fileLoc = "TransFiler/";
	const filename = url.slice(url.indexOf(fileLoc) + fileLoc.length);
	function download() {
		axios({
			url: url,
			method: "GET",
			responseType: "blob",
		}).then((response) => {
			const url = window.URL.createObjectURL(new Blob([response.data]));
			const link = document.createElement("a");
			link.href = url;
			link.setAttribute("download", filename);
			document.body.appendChild(link);
			link.click();
		});
	}
	function copy() {
		Clipboard_CopyTo(document.querySelector("#file_id").innerText);
	}
	function Clipboard_CopyTo(value) {
		var tempInput = document.createElement("input");
		tempInput.value = value;
		document.body.appendChild(tempInput);
		tempInput.select();
		document.execCommand("copy");
		document.body.removeChild(tempInput);
	}
</script>
<% } else { %>
<div class="container text-center">
	<h1>File Not Found</h1>
	<a href="/">Back to Home</a>
</div>
<% } %>
