<% layout('boilerplate') -%>
<div
	class="container d-flex justify-content-center align-items-center"
	style="height: 60vh"
>
	<div>
		<a class="btn btn-info" href="/upload" role="button"
			>Upload Your Files</a
		>
		<a class="btn btn-info" href="/retrieve" role="button"
			>Retrieve Your Files</a
		>
	</div>
</div>
