<% layout('boilerplate') -%>
<div
	class="container d-flex justify-content-center align-items-center text-center"
	style="height: 60vh"
>
	<div>
		<div class="something">
			<h1><strong>TransFiler</strong></h1>
			<h2>Fast. Easy. Reliable.</h2>
		</div>
		<div class="buttons">
			<a class="btn btn-primary" href="/upload" role="button"
				>Upload Your Files</a
			>
			<a class="btn btn-primary" href="/retrieve" role="button"
				>Retrieve Your Files</a
			>
		</div>
	</div>
</div>
