<% layout('boilerplate') -%>
<form action="/retrieve" method="POST">
	<label for="file">Enter Retrieve File ID:</label>
	<input type="text" id="file" name="file" />
	<button>Retrieve</button>
</form>
<a href="/">Back to Home</a>
