<% layout('boilerplate') -%>
<div class="container text-center">
	<h1 class="mb-3">
		<span class="border-bottom border-3 border-info"
			>Upload Your Files</span
		>
	</h1>
	<form action="/upload" method="POST" enctype="multipart/form-data">
		<div class="row">
			<div class="col-4 offset-4">
				<div class="mb-3">
					<label for="uploader" class="form-label"
						>Enter your Name:</label
					>
					<input
						class="form-control"
						type="text"
						id="uploader"
						name="uploader"
					/>
				</div>
				<div class="mb-3">
					<label for="file" class="form-label">Select File:</label>
					<input
						class="form-control"
						type="file"
						id="filename"
						name="filename"
					/>
				</div>
				<div class="mb-3">
					<label for="file" class="form-label"
						>File Lifetime: (Minutes)</label
					>
					<input
						class="form-control"
						type="number"
						id="expire"
						name="expire"
					/>
				</div>
				<button class="btn btn-success mb-3" type="submit">
					Submit
				</button>
			</div>
		</div>
	</form>
	<a href="/">Back to Home</a>
</div>
